{% extends 'base.html' %}


{% block title %}
    Todo List
{% endblock %}

{% block body %}
    <h1 id="dashboardLabel">Hello, {{ user.username }}.</h1>
    <div class="row">
        <div class="col-11">
            <h3 class="justify-content-start text-secondary fw-light mt-3">To-do List</h3>
        </div>
        <div class="col-1">
            <a href="{% url 'create_task' %}">
                <svg class="justify-content-end" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
            </a>
        </div>
    </div>
            <div class="list-group">
                {% for task in tasks %}
                    {% if task.completed == False %}
                        <div id="long-tile" class="shadow p-4 my-2">
                        <div class="row">
                            <div class="col-9">
                                <h4 class="fw-bold">{{ task.task_name }}</h4>
                            </div>
                            <div class="col-1">
                                <a href="{% url 'complete_task' todo_id=task.id %}" class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-1">
                                <a href="{% url 'update_task' todo_id=task.id %}" class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-1">
                                <a href="{% url 'delete_task' todo_id=task.id %}" class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#1d1d1d" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="text-secondary">{{ task.created_at }}</h5>
                        </div>
                    </div>
                    {% endif %}
                    {% if task.completed == True %}
                        <div id="long-tile-completed" class="shadow p-4 my-2">
                        <div class="row">
                            <div class="col-10">
                                <h4 class="fw-bold">{{ task.task_name }}</h4>
                            </div>
                            <div class="col-1">
                                <a href="{% url 'update_task' todo_id=task.id %}" class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-1">
                                <a href="{% url 'delete_task' todo_id=task.id %}" class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#1d1d1d" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="text-secondary">{{ task.created_at }}</h5>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
{% endblock %}

